

body { margin: 0;
       text-align: center;
       font-family: 'EB Garamond', serif;
       background-color: #B4CDE6;
 }

hr {
         border-color: #0014FF;
         border-style: dotted none none;
         height: 0px;
         width:25%;
         border-width: 8px;
         margin-bottom:20px;
         }

.intro{
        width: 30%;
        margin: auto;
        padding-bottom: 20px;
}

h1 { font-size: 500%;
     margin: 50px auto 0 auto;
     font-family: 'Handlee', cursive;
     color: #0014FF;
     line-height: 100%;
 }
p { line-height:180%;}
.para { font-size: 200%;
        color: #398AB9;
}

h2 {font-family: 'Handlee', cursive;
    color: #850000;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 { color: #285430;}

a {
    color: #850000;
    font-family: 'Handlee', cursive;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
         color: #285430;
}

.copy {
       color: #285430;
       font-size: 75%;
}

.top {background-color: #B4CDE6;
    border: solid;
    position: relative;
    padding-top: 100px;

    }

.middle-container {background-color: #B2B2B2;

     }

.bottom-container{
                  margin: 40px 10px 10px 10px;

}

.pro { text-decoration: underline;}

.b-cloud {
        position: relative;
        left: 250px;
        bottom:300px;
        }

.t-cloud {
        position: absolute;
        right:300px;
        top: 40px;

}
.profile { background-color:#B08BBB;}
.contact-me {background-color:#B08BBB;

}
.contact {position: relative;
            top:45px;
            left: 20px;
}
profile-pic {
        position: absolute;
        left: 350px;
        top:640px;


}


.skill-row {width: 50%;
            margin: 50px auto 50px auto;


}
.egg { margin-top: 20px;

}

.full-dragon {
                float: left;
                position: relative;
                left:200px;

}

.world { float: right;
         position: relative;
         right:200px;


}
.footer-link {position: relative;
              right: 30px;
}
.run-dragon {
              float: left;
}
.network {
          float: right;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Handlee', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}